.navbar-inverse {
	background: none;
	border: none;
}
.navbar-collapse {
	padding: 0;
}
.navbar {
	border-radius: 0px;
	min-height: auto;
	margin: 0;

}
.navbar-inverse .navbar-nav>li>a {
	color: #333333;
	font-size: 18px;
	line-height:78px;
	padding: 10px 10px;
	border:none
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #008131;
	border:none;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    background-color: transparent;
    color: #008131;
	border:none;
}
.dropdown-submenu {
	position: relative
}
.dropdown-menu {
	background:#fff;
	border:1px solid #e5e5e5;
	box-shadow:none;
	border-radius: 0;
	padding: 0
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
    border-radius: 0;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block
}
.dropdown-menu > li > a {
	padding: 8px 10px;
	border-bottom:1px solid #e5e5e5;
	color: #555555;
		transition:all linear .3s;
	-moz-transition:all linear .3s;
	-webkit-transition:all linear .3s;
	-ms-transition:all linear .3s;
	-o-transition:all linear .3s;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	color:#008131;
	padding-left:13px;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	border-right:1px solid rgba(255, 255, 255, 0.2)
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -15px
}

.dropdown-submenu:hover>a:after {
	border-left-color: #333333
}
.dropdown-submenu.pull-left {
	float: none
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px
}
